*.egg-info/
build/
dist/
*.log
*.pyc
firefox_cache/
chrome_cache/
*.png
**/.DS_Store
**/*.pyc
profiles
.idea
docs/_build
.coverage
.eggs
*.sublime-*

Test/configPath.py
Test/__pycache__
Test/__pycache__/*

Utils/__pycache__
Utils/__pycache__/*

models/__pycache__
models/__pycache__/*

sessionCache
sessionCache/*

interface_messages/__pycache__
interface_messages/__pycache__/*
